/* You can add global styles to this file, and also import other style files */

/* html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;

  background-color: #b881a8;
  color: white;
  overflow-x: hidden;
  width: 100%;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
  color: white;
}

.mat-toolbar {
  background-color: #222a3a !important;
  color: white !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.mat-list-item {
  color: white !important;
} */

.parallax {
  min-height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  text-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.bg1 { background-image: url('/imgs/1.jpeg'); }
.bg15 { background-image: url('/imgs/s.jpg'); }
.bg2 { background-image: url('/imgs/fondoxv.jpg'); }
.bga { background-image: url('/imgs/a.jpg'); }
.bg6 { background-image: url('/imgs/6.jpg'); }

.normal {
  padding: 100px;
  text-align: center;
  /* background-image:url('/imgs/s.jpg'); */
  background: white;
}

.content {
  text-align: center;
  font-size: 24px;
}

.content-end{
  text-align: end;
  font-size: 24px;
  color: black;
}